<h1>Your Profile</h1>

<%= image_tag @profile.image_url(:medium) unless @profile.image_data.nil? %>
<br />
<p>
    <strong>Full Name:</strong>
    <%= @profile.full_name %>
</p>
<p>
    <strong>Date of Birth:</strong>
    <%= @profile.date_of_birth %>
</p>

<p>
    <strong>Address:</strong>
    <%= @profile.full_address %>
</p>

<% if user_signed_in? %>
    <%= link_to "Edit Profile", profile_edit_path %> 
<% else %>
<% end %>

<hr>

<h3>Incomplete Translations</h3>
<%= render 'jobs/jobs', jobs: @jobs_incomplete %>

<h3>

<h1>Completed Translations</h3>
<%= render 'jobs/jobs', jobs: @jobs_complete %>


