<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :file, value: @job.cached_file_data %>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="field">  
    <%= form.label :language_from_id %>
		<%= form.collection_select :language_from_id, Language.order(:en),:id,:en, include_blank: true %>
		<%= form.label :language_to_id %>
		<%= form.collection_select :language_to_id, Language.order(:en),:id,:en, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
