<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<p>
  <strong>Language from:</strong>
  <%= @job.language_from.en %>
</p>

<p>
  <strong>Language to:</strong>
  <%= @job.language_to.en %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @job.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @job.paid_at %>
</p>

<p>
  <strong>Stripe charge:</strong>
  <%= @job.stripe_charge_id %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @job.completed_at %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
