<head>
    <title>Hola Aloha</title>
    
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/application.css" />
	</head>


<header id="header">  
        <a href=" / " class="logo">Hola!Aloha!</a>
            <nav class="right">
                <a href="#" class="button alt">
                    <% if user_signed_in? %>
                        <%= link_to "Home", root_path %> |
                        <%= link_to 'View Profile', profile_path %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    <% else %>
                        <%= link_to "Login", new_user_session_path %> |
                        <%= link_to "Sign up", new_user_registration_path %>
                    <% end %>
                 </a>
        </nav>
</header>