<h1>Requests#show</h1>
<p>Find me in app/views/requests/create.html.erb</p>

<p>
    <p>Subject: <%= @request.subject %></p>
</p>
<p>
    <p>Description: <%= @request.description %></p>
</p>
<p>
    <p>Your request: <%= @request.lang_from %> <%= @request.lang_to %> <%= @request.price %>  </p>
</p>
<p>
    <p>File: <%= @request.file_data %></p>
</p>

<%= link_to 'Back', root_path %>