<head>
		<title>Enquiry</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="pages/stylesheet" href="app/assets/stylesheets/application.css" />
	</head>

<h1>Your Enquiry</h1>

<%= form_for :contact do |f| %>
    <p> <strong>
        <%= f.label :full_name %>
        <%= f.text_field :name %>
        </strong>
    </p>
    <p> 
        <strong>
        <%= f.label :message%>
        <%= f.text_area :message%>
        </strong>
    <p>    
        <%= f.submit "Send" %>
    </p>
<% end %>