<!DOCTYPE html>
<html>
  <head>
  <%= render 'partials/header' %>
    
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
   
   <br />

  <%= render 'partials/footer' %> 

  

  </body>

</html>
